In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio
import numpy as np
from IPython.display import display
from ipywidgets import widgets, interact

# Configuración
pio.templates.default = "plotly_white"


# Cargar datos
df_main = pd.read_csv('data_cleaned/population_by_educational_attainment_level_sex_and_age_percent_main_indicators.csv')
df_birth = pd.read_csv('data_cleaned/population_by_educational_attainment_level_sex_and_age_percent_and_country_of_birth.csv')
df_wstatus = pd.read_csv('data_cleaned/population_by_educational_attainment_level_sex_and_age_percent_and_labour_force.csv')
#df_unemployment = pd.read_csv('data_cleaned/Unemployment rates by sex, age and educational attainment level (%).csv')

In [22]:
import pandas as pd

# 1. Revisar valores únicos de 'age' (ejecuta esto para inspeccionar tus DataFrames)
print("Valores únicos en df_main['age']:", df_main['age'].unique())
print("Valores únicos en df_birth['age']:", df_birth['age'].unique())
print("Valores únicos en df_wstatus['age']:", df_wstatus['age'].unique())

# 2. Definir la función map_age_group (ajusta según los valores únicos encontrados)
def map_age_group_reduced(age_str):
    if age_str == 'Y15-24' or age_str == 'Y15-19' or age_str == 'Y20-24':
        return '15-24'
    elif age_str == 'Y25-54' or age_str == 'Y25-34' or age_str == 'Y35-44' or age_str == 'Y45-54':
        return '25-54'
    elif age_str == 'Y55-64':
        return '55-64'
    elif age_str == 'Y15-64':
        return '15-64'
    # Añade más mapeos según sea necesario para df_main, df_birth, y df_wstatus
    return age_str

# 3. Aplicar la función y crear la columna 'age_group'
df_main['age_group'] = df_main['age'].apply(map_age_group_reduced)
df_birth['age_group'] = df_birth['age'].apply(map_age_group_reduced)
df_wstatus['age_group'] = df_wstatus['age'].apply(map_age_group_reduced)

# 4. Renombrar columnas de porcentaje
df_main = df_main.rename(columns={'percent_edat_lfse': 'percentage_education_general'})
df_birth = df_birth.rename(columns={'percent_edat_lfs_birth': 'percentage_education_by_birth'})
df_wstatus = df_wstatus.rename(columns={'percent_edat_lfs_wstatus': 'percentage_by_employment_status'})

# 5. Realizar el merge
df_merged_reduced = pd.merge(df_main, df_birth[['country', 'year', 'sex', 'education_level', 'age_group', 'country_birth', 'percentage_education_by_birth']],
                            on=['country', 'year', 'sex', 'education_level', 'age_group'],
                            how='left')

df_merged_reduced = pd.merge(df_merged_reduced, df_wstatus[['country', 'year', 'sex', 'education_level', 'age_group', 'labour_force', 'percentage_by_employment_status']],
                            on=['country', 'year', 'sex', 'education_level', 'age_group'],
                            how='left')

print("df_merged_reduced head:")
print(df_merged_reduced.head())
print(df_merged_reduced.info())

Valores únicos en df_main['age']: ['Y15-64' 'Y20-24' 'Y25-34' 'Y25-64' 'Y30-34' 'Y30-54' 'Y35-44' 'Y45-54'
 'Y45-64' 'Y55-64']
Valores únicos en df_birth['age']: ['Y15-24' 'Y15-64' 'Y15-69' 'Y15-74' 'Y18-24' 'Y18-64' 'Y18-69' 'Y18-74'
 'Y20-24' 'Y25-34' 'Y25-54' 'Y25-64' 'Y25-69' 'Y25-74' 'Y30-34' 'Y30-54'
 'Y55-74']
Valores únicos en df_wstatus['age']: ['Y15-24' 'Y15-64' 'Y15-69' 'Y15-74' 'Y18-24' 'Y18-64' 'Y18-69' 'Y18-74'
 'Y20-24' 'Y25-34' 'Y25-54' 'Y25-64' 'Y25-69' 'Y25-74' 'Y30-54' 'Y55-74']
df_merged_reduced head:
   country  year sex     age            Age class isced11  \
0  Austria  1995   F  Y15-64  From 15 to 64 years   ED0-2
1  Austria  1996   F  Y15-64  From 15 to 64 years   ED0-2
2  Austria  1997   F  Y15-64  From 15 to 64 years   ED0-2
3  Austria  1998   F  Y15-64  From 15 to 64 years   ED0-2
4  Austria  1999   F  Y15-64  From 15 to 64 years   ED0-2

                                     education_level  \
0  Less than primary, primary and lower secondary...
1  Less than primary, primary and lower secondary...
2  Less than primary, primary and lower secondary...
3  Less than primary, primary and lower secondary...
4  Less than primary, primary and lower secondary...

   percentage_education_general age_group country_birth  \
0                          41.4     15-64           NaN
1                          39.6     15-64           NaN
2                          36.6     15-64           NaN
3                          36.0     15-64           NaN
4                          35.3     15-64           NaN

   percentage_education_by_birth labour_force  percentage_by_employment_status
0                            NaN          NaN                              NaN
1                            NaN          NaN                              NaN
2                            NaN          NaN                              NaN
3                            NaN          NaN                              NaN
4                            NaN          NaN                              NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7088072 entries, 0 to 7088071
Data columns (total 13 columns):
 #   Column                           Dtype
---  ------                           -----
 0   country                          object
 1   year                             int64
 2   sex                              object
 3   age                              object
 4   Age class                        object
 5   isced11                          object
 6   education_level                  object
 7   percentage_education_general     float64
 8   age_group                        object
 9   country_birth                    object
 10  percentage_education_by_birth    float64
 11  labour_force                     object
 12  percentage_by_employment_status  float64
dtypes: float64(3), int64(1), object(9)
memory usage: 703.0+ MB
None

In [23]:
print("Porcentaje de valores no nulos en percentage_education_by_birth:", df_merged_reduced['percentage_education_by_birth'].notna().mean())
print("Porcentaje de valores no nulos en labour_force:", df_merged_reduced['labour_force'].notna().mean())
print("Porcentaje de valores no nulos en percentage_by_employment_status:", df_merged_reduced['percentage_by_employment_status'].notna().mean())

Porcentaje de valores no nulos en percentage_education_by_birth: 0.8286875471919586
Porcentaje de valores no nulos en labour_force: 0.9860461349715409
Porcentaje de valores no nulos en percentage_by_employment_status: 0.9506359416213606

In [24]:
# Guardar el DataFrame df_merged_reduced en un archivo CSV
df_merged_reduced.to_csv('df_merged_reduced.csv', index=False)  # index=False evita guardar el índice del DataFrame
print("DataFrame guardado como 'df_merged_reduced.csv'")

DataFrame guardado como 'df_merged_reduced.csv'